@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;

.projects {
  padding-top: 5rem;

  &-title {
    color: #34d399;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @include respond-to(md) {
      gap: 4rem;
    }
  }
}

.project-card {
  &-content {
    position: relative;
    width: 40%;
    @include respond-to(lg) {
      width: 20%;
    }
    @include respond-to(md) {
      width: 100%;
    }
  }

  &-image {
    width: 65%;
    object-fit: contain;
    display: block;
    object-fit: contain;
    @include respond-to(lg) {
      width: 70%;
    }

    @include respond-to(md) {
      width: 100%;
    }
  }

  @include respond-to(md) {
    flex-direction: column-reverse;
    height: auto;
    gap: 0.5rem;
  }

  &-text {
      padding: 0.5rem;
      background-color: #282d32;

    @include respond-to(md) {
      padding: 0.7rem 0;
      background: transparent;
    }
  }

  &-label {
    font-size: 0.9rem;
    opacity: 0.7;
    margin-bottom: 0.5rem;
  }

  &-title {
    color: #1fb5d4;
    font-size: 1.1rem;
  }

  &-info {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 150%;

    border-radius: 8px;
    font-size: 1rem;
    line-height: 1.5;

    @include respond-to(lg) {
      width: 350%;
    }

    @include respond-to(md) {
      position: static;
      transform: translate(0);
      padding: 0;
      width: 100%;
      font-size: 0.9rem;
    }
  }

  &-desc {
    width: 100%;
    background-color: #282d32;
    

    @include respond-to(lg) {
      font-size: 0.9rem;
    }

    @include respond-to(md) {
      padding: 0;
      background: transparent;
    }
  }

  &-tech {
    color: #1fb5d4;
    font-size: 0.85rem;

    @include respond-to(md) {
      margin-bottom: 0.5rem;
    }
  }

  &-btn {
    background: #34d399;
    font-family: 'Mont-SemiBold', Arial, serif;
    font-size: 1rem;
    color: black;
    border: none;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #48ffbc;
    }
  }

  @include respond-to(md) {
    width: 100%;
    right: 0;
    top: 0;
    transform: translateY(0);
  }

  h4 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #fff;
    opacity: 0.9;
  }

  &-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include respond-to(md) {
      flex-direction: column-reverse;
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;

      @include respond-to(md) {
        flex-direction: column-reverse;
      }

      .project-card-info {
        position: absolute;
        left: auto;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;

        @include respond-to(md) {
          position: static;
          text-align: left;
          transform: translate(0);
        }
      }
    }
  }
}
