@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;

.hero {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;

  @include respond-to(lg) {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    gap: 1rem;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 60%;
    text-align: left;

    @include respond-to(lg) {
      align-items: center;
      text-align: center;
      width: 100%;
    }

    &-content {
      width: 70%;

      @include respond-to(sm) {
        width: 100%;
      }

      
    }
  }

  &-socials {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding-bottom: 2rem;

    @include respond-to(lg) {
        width: fit-content;
      }

    i {
      font-size: 2rem;
      color: #aaa;
      transition: 0.3s;

      @include respond-to(lg) {
        font-size: 3rem;
      }

      &:hover {
        color: #00e68a;
      }
    }
  }

  &-position {
    color: #aaa;
    font-size: 1.2rem;
  }

  &-description {
    font-size: 1.15rem;
    text-align: left;
    color: #aaa;

    @include respond-to(lg) {
      text-align: justify;
         font-size: 16px;
    }
  }

  &-image-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 40%;
    background-color: #232b36c2;

    @include respond-to(lg) {
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
        height: auto;
        background-color: transparent;
        padding-top: 110px;
        gap: 1rem;
      }
  }

  &-image {
    position: absolute;
    width: 70%;
    max-width: 400px;
    min-width: 300px;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    
    @include respond-to(lg) {
        position: static;
        transform: none;
        width: 30%;
      }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.7rem 0 1rem 0;
    color: #aaa;

    @include respond-to(xl) {
      font-size: 2rem;
    }
  }

  &-buttons {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;

    @include respond-to(md) {
      gap: 0;
      justify-content: space-between;

      & > a {
        flex: 1;
        text-align: center;
      }
    }

    @include respond-to(lg) {
   
      justify-content: center;

    
    }
  }

  &-btn {
    background: transparent;
    color: #34d399;
    border: 3px solid #34d399;
    padding: 15px;
    border-radius: 36px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    margin-top: 1rem;

    @include respond-to(lg) {
      font-size: 16px;
    }

    &.cv:hover {
      background: white;
      color: black;
      border-color: white;
    }

    &.certificate {
      background: #34d399;
      color: black;
      border-color: #34d399;

      &:hover {
        background: white;
        color: white;
        border-color: white;
        background-color: transparent;
      }
    }
  }
}

.hero-container {
  display: flex;
  width: 100%;
}

.hero-left, .hero-right {
  flex-grow: 1;
  min-width: 50px;
  height: 100vh;
}

.hero-left {
  background-color: #232b36c2;

  @include respond-to(lg) {
    background-color: transparent;
  }
}