.hero {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;

  &-text {
    width: 50%;
    text-align: center;
  }

  &-description {
    font-size: 1.4rem;
  }

  &-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
      height: auto;
      max-height: 380px;
      object-fit: contain;
    }
  }

  &-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}
