@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "./base/reset" as *;
@use "./base/typography" as *;

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 430px;
  padding: 0 50px;
}

.main-container section:not(:first-of-type) {
    max-width: 1140px;
    margin: 0 auto;
  }
