@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "./base/reset" as *;
@use "./base/typography" as *;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 430px;
}

.main-container > section:nth-of-type(n+2) {
  max-width: 1140px;
  margin: 0 50px;
}