.main-container {
  min-height: 100%;
  background: radial-gradient(
      circle 550px at var(--x, 50%) var(--y, 50%),
      rgba(255, 255, 255, 0.091),
      transparent 80%
    ),
    #161b22; 
    background-attachment: fixed;
  color: white;
}