@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;

  @include respond-to(lg) {
    min-width: 0;
  }

  &-header {
    color: #34d399;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 120px;
  }

  &-item {
    padding: 15px 40px;
    border: 1px  solid #ccccccb9;
    border-radius: 55px;
    cursor: pointer;
    margin: 0 auto;

    @include respond-to(xl) {
      width: 80%;
    }

    &:hover {
      background: #1f2731;
    }
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    p {
      font-size: 1rem;
      color: gray;
    }

    &::after {
      content: "+";
      font-size: 1.2rem;
      color: #34d399;
      transition: transform 0.3s ease;
    }
  }

  &-position {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 2px 0;
  }

  &-content {
    font-size: 1.1rem;
    padding: 0 30px;
    width: 90%;
    margin: 20px auto 0 auto;
    border-left: 1px solid #ccccccb9;
    border-right: 1px solid #ccccccb9;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
  }

  @media (hover: hover) and (pointer: fine) {
    &-item:hover + .accordion-content {
      max-height: 500px;
      opacity: 1;
      padding: 20px;
    }

    &-item:hover .accordion-title::after {
      content: "–";
      transform: rotate(180deg);
    }
  }

  @media (hover: none) and (pointer: coarse) {
    &-item.active + .accordion-content {
      max-height: 500px;
      opacity: 1;
      padding: 20px;
    }

    &-item.active .accordion-title::after {
        content: "–";
        transform: rotate(180deg);
      
    }
  }
}
