.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  // background-color: #161b22f4;
  padding: 30px 150px 20px 150px;

  z-index: 1000;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 60px;
  font-size: 1.1rem;
  a {
    text-decoration: none;
    transition: text-decoration 0.3s ease;
    &:hover {
      text-decoration: underline;
    }
  }

}

.scrolled {
    background-color: #161b22f4;
    padding: 20px 150px;
  }
