.navbar {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 60px;
  font-size: 1.5rem;
  a {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.3s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}
