* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

html, body, #root {
  scroll-behavior: smooth;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 150px 150px 150px;
  position: relative;
}

.main-container > *:nth-child(n+2) {
    padding-top: 150px;
}