* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 80px;
  position: relative;
  background: #161b22;

}