.stack {
  border-radius: 12px;
  padding-top: 5rem;

  &-title {
    color: #34d399;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 70px;
    align-items: center;


    h2 {
      color: #aaa;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1.2rem;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    gap: 0.4rem;
    cursor: pointer;
    background-color: #ffffff10;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }

    img {
      width: 28px;
      height: 28px;
      object-fit: contain;
    }
  }
}
