@use 'typography';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: white;
}

html, body, #root {
  scroll-behavior: smooth;
  height: 100%;
}
 
p {
  font-size: 16px;
}

h1 {
   font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}